# Database connection
DATABASE_URL=postgresql://neondb_owner:npg_Gowqgl9tM1ab@ep-silent-pine-an2zzq6t-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Authentication (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YnVzeS10YXBpci05My5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_C9EtL0kdo5HB5UsidIohFNUyKpgGViBSMF42k6saNH
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/onboarding/selection
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding/selection

# AI API Key (Google Gemini)
GEMINI_API_KEY=AIzaSyB9ZjUxZC6A17AVppiT85yTr2L7jG87knw

# Job Search API (RapidAPI - JSearch)
RAPIDAPI_KEY=1802da7fd3mshbb64b7884a8f11dp13cd41jsn6d69c04a2651

# Background Jobs (Inngest)
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
